.thumbnail {
  position: relative;
  min-height: 96px;
}
.thumbnail.edit {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  img {
    margin: 0;
    opacity: 0.5;
  }
  .imageAdd,
  .imageDelete,
  .imageUpdate {
    opacity: 1;
  }
}
.thumbnail {
  md-progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }
  img {
    width: 100%;
    transition: opacity 0.1s;
  }
  .imageAdd,
  .imageDelete,
  .imageUpdate {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.1s;
    input {
      z-index: 1;
    }
  }
  .imageAdd {
    opacity: 1;
    display: block;
  }
  .imageAdd::after,
  .imageDelete::after,
  .imageUpdate::after{
    display: block;
    height: 50%;
    top: 50%;
    margin-top: -12px;
    z-index: 0;
    left: 0;
    right: 0;
    line-height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: black;
    opacity: 0.5;
    // Material icons
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .imageAdd {
    left: 0;
    overflow: hidden;
    width: 100%;
  }
  .imageDelete {
    right: 0;
  }
  .imageUpdate {
    left: 0;
    overflow: hidden;
  }
  .imageAdd::after{
    content: 'add_a_photo';
  }
  .imageDelete::after{
    content: 'delete';
  }
  .imageUpdate::after{
    content: 'edit';
  }
  .imageAdd:hover,
  .imageDelete:hover,
  .imageUpdate:hover{
    opacity: .5;
  }
  .imageAdd input,
  .imageUpdate input{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 200px;
  }
}